.profile-img-container {
  margin-top: 1rem;
  margin-left: 1rem;
}

.profile-img {
  border-radius: 70px;
}

.profile-section {
  display: flex;
  flex-flow: row nowrap;
}

.profile-section-text {
  padding: 2rem;
}